<div class="col-lg-6">
    <div class="card-box">
        <div class="card-block">
            <h4 class="card-title">Challenges</h4>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Challenges</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let playertask of playerTasks">
                            <td>{{playertask.player}}</td>
                            <td>{{playertask.task}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>