    <div class="main-wrapper">

        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="assets/img/logo_code2.png" width="35" height="35" alt=""> <span>Code Challenge</span>
				</a>
			</div>

            <ul class="nav user-menu float-left">
                <li class="nav-item d-none d-sm-block">
                    <a routerLink="/app/task" class="nav-link"><i class="fas fa-laptop-code"></i>Task</a>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a routerLink="/app/ranking" class="nav-link"><i class="fas fa-medal"></i>Ranking</a>
                </li>
                <li class="nav-item d-sm-block">
                    <a routerLink="../" class="nav-link"><i class="fas fa-medal"></i>Logout</a>
                </li>
            </ul>
            <ul class="nav user-menu float-right">
                <li class="nav-item">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="assets/img/user.jpg" width="40" alt="Admin">
							<span class="status online"></span></span>
                        <span>{{user}}</span>
                    </a>
                </li>
            </ul>
        </div>



        <div class="page-wrapper">
            <div class="content">
                <!-- INERT HERE -->
                <router-outlet></router-outlet>
            </div>

          
        </div>
    </div>

